<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tutorial</key>
	<array>
		<dict>
			<key>left_image</key>
			<string>kappa</string>
			<key>right_image</key>
			<string>cat</string>
			<key>talker</key>
			<string>right</string>
			<key>text1</key>
			<string>よくぞ来た。カッパよ。</string>
			<key>text2</key>
			<string>今のお主ならば、</string>
			<key>text3</key>
			<string>カッパ旋風脚が使えるはずだ。</string>
		</dict>
		<dict>
			<key>left_image</key>
			<string>kappa</string>
			<key>right_image</key>
			<string>cat</string>
			<key>talker</key>
			<string>left</string>
			<key>text1</key>
			<string>あ、あなたは！！</string>
			<key>text2</key>
			<string></string>
			<key>text3</key>
			<string>……だれ？</string>
		</dict>
		<dict>
			<key>left_image</key>
			<string>kappa</string>
			<key>right_image</key>
			<string>cat</string>
			<key>talker</key>
			<string>right</string>
			<key>text1</key>
			<string>私はお前の師匠、</string>
			<key>text2</key>
			<string>シュレディンガーのネコだ。</string>
			<key>text3</key>
			<string></string>
		</dict>
		<dict>
			<key>left_image</key>
			<string>kappa</string>
			<key>right_image</key>
			<string>cat</string>
			<key>talker</key>
			<string>right</string>
			<key>text1</key>
			<string>カッパ旋風脚を使えば、</string>
			<key>text2</key>
			<string>短時間だが無敵状態になり、</string>
			<key>text3</key>
			<string>強力なカウンター攻撃ができる。</string>
		</dict>
		<dict>
			<key>left_image</key>
			<string>kappa</string>
			<key>right_image</key>
			<string>cat</string>
			<key>talker</key>
			<string>right</string>
			<key>text1</key>
			<string>あらゆる技を使い、</string>
			<key>text2</key>
			<string>私を倒してみせるのだ！！</string>
		</dict>
		<dict>
			<key>left_image</key>
			<string>kappa</string>
			<key>right_image</key>
			<string>cat</string>
			<key>talker</key>
			<string>left</string>
			<key>text1</key>
			<string>……</string>
			<key>text2</key>
			<string>質問に答えてくれない。</string>
			<key>text3</key>
			<string></string>
			<key>next_key</key>
			<string>tutorial_end</string>
		</dict>
	</array>
	<key>tutorial_clear</key>
	<array>
		<dict>
			<key>left_image</key>
			<string>kappa</string>
			<key>right_image</key>
			<string>usagi</string>
			<key>talker</key>
			<string>right</string>
			<key>text1</key>
			<string>お見事……！</string>
			<key>text2</key>
			<string>これで君は、</string>
			<key>text3</key>
			<string>一人前のカッパだ！</string>
		</dict>
		<dict>
			<key>left_image</key>
			<string>kappa</string>
			<key>right_image</key>
			<string>usagi</string>
			<key>talker</key>
			<string>right</string>
			<key>text1</key>
			<string>君ほどのカッパなら</string>
			<key>text2</key>
			<string>この先のどんな困難も</string>
			<key>text3</key>
			<string>カッパ魂で乗り越えられるはずだ！</string>
		</dict>
		<dict>
			<key>left_image</key>
			<string>kappa</string>
			<key>right_image</key>
			<string>usagi</string>
			<key>talker</key>
			<string>right</string>
			<key>text1</key>
			<string>そして君は夢から覚める。</string>
			<key>text2</key>
			<string></string>
			<key>text3</key>
			<string>チュートリアルクリア！</string>
			<key>next_key</key>
			<string>tutorial_clear</string>
		</dict>
	</array>
</dict>
</plist>
